article {
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(6px);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 3s linear;
}

article form {
    background-color: #2B2B2B;
    padding: 40px;
    box-shadow: 0 0 2px inset rgba(256,256,256,0.3);
    width: 400px;
    display: flex;
    flex-direction: column;
}

article form .fechar{
    align-self: flex-end;
    cursor: pointer;
}

article form input{
    display: block;
    width: 100%;
}

article form div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

article form div input {
    display: inline-block;
    margin-right: 10px;
}

article form .controles{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-bottom: 0;
}

article form .controles .link{
    cursor: pointer;
    margin-right: auto;
    
}

article form .controles .link:hover{
    color: #43B02A;
    font-weight: 700;
}