.botao-container{
    display: flex;
    justify-content: space-around;
    margin: 10px 10px 10px 10px;
}

.btn{
    border: 2px solid #f4511e;
    color: #ffffff;
    background-color: #f4511e;
}

.btn:hover {
    background-color: #8f2f12;
    border: 2px solid #8f2f12;
    color: #fff
}