.botao-container{
    display: flex;
    justify-content: space-around;
    margin: 10px 10px 10px 10px;
}

.btn{
    border: 2px solid #2B2B2B;
    color: #ffffff;
    background-color: #2B2B2B;
}

.btn:hover {
    background-color: #43B02A;
    border: 2px solid #43B02A;
    color: #fff
}