<mat-accordion>
    <mat-expansion-panel hideToggle>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Nossos serviços
        </mat-panel-title>
        <mat-panel-description>
          Serviço
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Descricao</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servico of servicos">
            <td>{{ servico.titulo }}</td>
            <td>{{ servico.descricao }}</td>
            <td>{{ servico.valor }}</td>
          </tr>
        </tbody>
      </table>    
    </mat-expansion-panel>
  </mat-accordion>