<!-- <mat-accordion class="container">
    <mat-expansion-panel hideToggle>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>

      </mat-expansion-panel-header>
      <table class="table">
        <thead>
          <tr class="header">
            <th scope="col">Titulo</th>
            <th scope="col">Descricao</th>
            <th scope="col">Valor</th>
            <th scope="col"><mat-icon class="icon" [routerLink]="['/formulario-servico']">login</mat-icon></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servico of servicos">
            <td>{{ servico.titulo }}</td>
            <td>{{ servico.descricao }}</td>
            <td>{{ servico.valor }}</td>
            <mat-icon class="icon" (click)="deletarServico(servico.id)">delete</mat-icon>
            <mat-icon class="icon" (click)="enviarIdServico(servico.id)" [routerLink]="['/formulario-servico']">edit</mat-icon>
          </tr>
        </tbody>
      </table>    
    </mat-expansion-panel>
  </mat-accordion> -->

  <mat-card class="container" *ngFor="let servico of servicos">
    <mat-card-title-group class="header">
      <mat-card-title id="titulo">{{servico.titulo}}</mat-card-title>
      <div class="icons">
        <mat-icon class="icon" (click)="deletarServico(servico.id)">delete</mat-icon>
        <mat-icon class="icon" (click)="enviarIdServico(servico.id)" [routerLink]="['/formulario-servico']">edit</mat-icon>
      </div>
    </mat-card-title-group>
    <mat-card-content class="body">
      {{servico.descricao}}
    </mat-card-content>
    <mat-card-content class="botoes">
      <button type="submit" class="btn btn-outline-warning">R$ {{servico.valor}}</button>
    </mat-card-content>
  </mat-card>