<mat-accordion>
    <mat-expansion-panel hideToggle>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>

      </mat-expansion-panel-header>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"><mat-icon class="icon" [routerLink]="['/formulario-servico']">login</mat-icon></th>
          </tr>

          <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Descricao</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servico of servicos">
            <td>{{ servico.titulo }}</td>
            <td>{{ servico.descricao }}</td>
            <td>{{ servico.valor }}</td>
            <mat-icon class="icon" (click)="deletarServico(servico.id)">delete</mat-icon>
            <mat-icon class="icon" (click)="enviarIdServico(servico.id)">edit</mat-icon>
          </tr>
        </tbody>
      </table>    
    </mat-expansion-panel>
  </mat-accordion>