<div class="container">

    <button id="btn-pedido" type="button" class="btn" [routerLink]="['/home-plataforma/curso-formulario']">Adicionar curso</button>
  
    <div class="card w-75" *ngFor="let curso of cursos">
  
      <div class="row no-gutters">
  
        <div class="col-md-4">
          <img src="{{urlImagem}}{{curso.imagem}}" alt="...">
        </div>
  
        <div class="col-md-8">
  
          <div class="card-body">
  
            <div class="infos">
              <h5 class="card-title" [routerLink]="['/home-plataforma/conteudo-curso']">{{curso.titulo}}</h5>
              <p class="card-text">{{curso.descricao}}</p>
            </div>
  
            <div class="tools">
              <mat-icon (click) = "deletarCurso(curso)" class="icon">delete</mat-icon>
              <mat-icon (click) = "editarCurso(curso)" class="icon" [routerLink]="['/home-plataforma/curso-update-formulario']">edit</mat-icon>
            </div>
  
          </div>
  
        </div>
  
      </div>
    </div>
  </div>