<article>
    <form>
        <a class="fechar"><i class="material-icons" [routerLink]="['/']">close</i></a>
        <label>
            Usuario:
            <input type="text" name="novoUsuario" id="usuario" [(ngModel)]="novoNomeUsuario">
        </label>
        <label>
            Senha:
            <input type="password" name="senha" id="senha" [(ngModel)]="senha">
        </label>
        <label>
            Confirme sua senha:
            <input type="password" name="senha" id="senha" [(ngModel)]="senhaConfirmada">
        </label>
        <div *ngIf="senhaInvalida" class="alert alert-danger" role="alert">
            Confirmação de senha inválida
            <span (click)="esconderErro()">x</span>
        </div>
        <div class="controles">      
            <p class="link">Voltar</p>
            <button type="submit" class="salvar" (click)="validarSenha(senha, senhaConfirmada)">Salvar</button>
        </div>
    </form>

</article>
