<article>
    <img class="img" src="assets\img\Consult-logo.png" alt="logo-deloitte">
    <form>
        <label>
            Usuario:
            <input type="text" name="novoUsuario" id="usuario" placeholder="Entre seu novo nome" [(ngModel)]="novoNomeUsuario">
        </label>
        <label>
            Senha:
            <input type="password" name="senha" id="senha" placeholder="Entre sua nova senha" [(ngModel)]="senha">
        </label>
        <label>
            Confirme sua senha:
            <input type="password" name="senha-confirmada" id="senha" placeholder="Confirme sua nova senha" [(ngModel)]="senhaConfirmada">
        </label>
        <div *ngIf="senhaInvalida" class="alert alert-danger" role="alert">
            Confirmação de senha inválida
            <span (click)="esconderErro()">x</span>
        </div>
        <div class="controles">      
            <p class="link" [routerLink]="['/']">Voltar</p>
            <button type="submit" class="salvar" (click)="validarCampos(senha, senhaConfirmada)">Salvar</button>
        </div>
    </form>

</article>
