<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
            </li>
            <li>
                <mat-icon [routerLink]="['/home-plataforma']" class="icon">home</mat-icon>
            </li>
            <li>
                <mat-icon [routerLink]="['/home-plataforma/professor']" class="icon">person</mat-icon>
            </li>
            <li>
                <mat-icon [routerLink]="['/home-plataforma/cursos']" class="icon">auto_stories</mat-icon>                
            </li>
            <li>
                <mat-icon [routerLink]="['/']" class="icon">logout</mat-icon>                
            </li>
            <li>
                <mat-icon [routerLink]="['/home-plataforma/fale-conosco']" class="icon">email</mat-icon>                
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

