.table {
    margin: 30px auto;
    border: 1px solid #999;
    box-shadow: 1px 1px 2px #333;
    width: 900px;
}

.row-table{
    max-width: 25px;
}

th{
    background-color: #2B2B2B;
    color: #fff;
}

td {
    margin: 0;
}

.icons {
    max-width: 10px;
    margin: 0;
}

#icons-table {
    margin: 0 auto;
    display: flex;
}

.icon {
    cursor: pointer;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

#icon-cadastrar{
    color: #fff;
}

.icon-cadastrar {
    color: #fff;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.icon-cadastrar:hover{
    color: #26890D;
}

#th-cadastrar {
    text-align: end;

}

.icon:hover {
    color: #26890D;
}

#nome {
    font-weight: 500;
}


