@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;300;600;800&display=swap');

.container{
    margin: 30px auto;
    color: black;
    display: flex;
    flex-direction: row;

}

.sub-container{
    display: flex;
    flex-direction: column;
}
.banner-home{
    margin: 30px 0;
    width: 100%;
    border-radius: 10px;

    box-shadow: 0px 0px 5px #999;
}
.info{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.sub-container h3{ 
    font-size: 28px;
    font-weight: 800;
    cursor: pointer;
}
.sub-container h3:hover{ 
    color: #A435F0;
}

.sub-container p{
    font-size: 20;
    font-weight: 500;
}

img {
    width: 500px;
}
