<div class="banner-home">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Encontre a opção certa</h5>
      <p class="card-text">Cursos a partir de R$22,90 cada até hoje. Estude os temas que você quer, lecionados por
        especialistas reais.
      </p>
        <button type="button" class="btn" [routerLink]="['/cursos']">Encontre seu curso</button>
    </div>
  </div>
</div>

<div class="container-principal">
  <section class="sub-container" id="first-item">
    <div class="banner">
      <img src="assets\img\avr.png" alt="">
    </div>
    <div class="info">
      <h3>Aprenda os principais frameworks web da atualidade</h3>
      <p>We don’t make assumptions about the tech stacks you or your team prefers to build with. That’s why Ionic is
        engineered to integrate seamlessly with all best frontend frameworks, including Angular, React, Vue, or even
        no framework at all with vanilla JavaScript.</p>

        <button mat-button [matMenuTriggerFor]="menu" class="btn">Acessar documentações</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="goToLink('https://angular.io/start')">Angular</button>
          <button mat-menu-item (click)="goToLink('https://pt-br.reactjs.org/docs/getting-started.html')">React</button>
          <button mat-menu-item (click)="goToLink('https://vuejs.org/v2/guide/')">Vue</button>
        </mat-menu>
    </div>
  </section>
</div>
