<table class="table table-striped">
  <thead>
  <tr class="header">
    <th class="row-table" scope="col">Nome</th>
    <th class="row-table" scope="col">Sobrenome</th>
    <th class="row-table" scope="col">Email</th>
    <th class="row-table" id="th-cadastrar" scope="col">

      <div class="tools">
        <input #inputPesquisa id="input-pesquisa" (input)="pesquisar(inputPesquisa.value)" type="text" placeholder="Cliente...">
        <mat-icon [routerLink]="['/formulario-cliente']" class="icon-cadastrar" >add</mat-icon>
      </div>
    </th>
  </tr>
  </thead>
  <tbody  *ngIf="pesquisando">
  <tr  *ngFor="let cliente of getClientes">
    <td id="nome" class="row-table">{{cliente.nome}}</td>
    <td class="row-table">{{cliente.sobrenome}}</td>
    <td class="row-table">{{cliente.email}} </td>
    <td class="icons" id="icons-table">
      <mat-icon (click)="deletarCliente(cliente.id)" class="icon">delete</mat-icon>
      <mat-icon (click)="enviarIdCliente(cliente.id)" [routerLink]="['/formulario-cliente-update']" class="icon">edit</mat-icon>
    </td>
  </tr>
  </tbody>
  <tbody>
    <tr  *ngFor="let clienteF of clientesFiltrados$ | async">
      <td id="nome" class="row-table">{{clienteF.nome}}</td>
      <td class="row-table">{{clienteF.sobrenome}}</td>
      <td class="row-table">{{clienteF.email}} </td>
      <td class="icons" id="icons-table">
        <mat-icon (click)="deletarCliente(clienteF.id)" class="icon">delete</mat-icon>
        <mat-icon (click)="enviarIdCliente(clienteF.id)" [routerLink]="['/formulario-cliente-update']" class="icon">edit</mat-icon>
      </td>
    </tr>
    </tbody>
</table>