<article>
    <form>
        <label>
            Usuario:
            <input type="text" name="novoUsuario" id="usuario" placeholder="Entre seu nome" [(ngModel)]="nomeAdmin">
        </label>
        <label>
            Senha:
            <input type="password" name="senha" id="senha" placeholder="Entre sua senha" [(ngModel)]="senhaAdmin">
        </label>
        <label>
            Confirme sua senha:
            <input type="password" name="senha-confirmada" id="senha" placeholder="Confirme sua senha"  [(ngModel)]="senhaConfAdmin">
        </label>
        <div class="controles">      
            <p class="link" [routerLink]="['/']">Voltar</p>
            <button type="submit" class="salvar" (click)="validarSenha(senhaAdmin, senhaConfAdmin)">Salvar</button>
        </div>
        <p [routerLink]="['/cadastro']">Cadastro como usuário</p>
    </form>

</article>
