<section class="container">
  <div class="profile">
    <img src="{{professor.imagem}}" class="rounded-circle" alt="...">
    <ul class="list-group">
      <a  class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{professor.nome}} {{professor.sobrenome}}</h5>
        </div>
        <p class="mb-1">{{professor.email}}</p>
      </a>
    </ul>
  </div>
  <div class="cursos">
    <div class="card" style="max-width: 18rem;" *ngFor="let curso of cursosProfessor">
      <img src="{{curso.imagem}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{curso.titulo}}</h5>
        <p class="card-text">{{curso.descricao}}</p>
        <div class="div-icons">
        </div>
        <button type="button" class="btn">R$ {{curso.valor}}</button>
      </div>
    </div>
  </div>
</section>
