<div class="aprendizado-column">
    <div class="seus-cursos">
        <h3>Meus cursos</h3>
    </div>
</div>

<div class="meus-cursos">
    <ul class="list-group" *ngFor="let curso of cursos">
        <li class="list-group-item" [routerLink]="['/curso-aprendizado']">
            <div class="img-curso">
                <img src="{{curso.imagem}}" alt="">
            </div>
    
            <div id="curso-titulo">
                {{curso.titulo}}
            </div>
        </li>
    </ul>
</div>
