.aprendizado-column {
    height: 200px;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    border-radius: 5px;
    box-shadow: 0px 0px 2px #111;
}

.seus-cursos {
    line-height: 30px;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: normal;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat';
}


.img-curso img {
    width: 200px;
    margin-right: 20px;
}

.list-group li {
    display: flex;
    justify-content: flex-start;
}

.list-group {
    width: 500px;
    margin-top: 10px;
}

.list-group li {
    height: 60px;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
}

.meus-cursos {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#curso-titulo {
    cursor: pointer;
}

#curso-titulo:hover {
    color:#A435F0;
}

.aprendizado-column h3{
    font-weight: 400;
    font-size: 30px;
}

.aprendizado-column h3:hover {
    font-weight: 500;
}

