  <div class="container">
    <div class="sub-container">
      <h5>Torne-se um professor</h5>
      <div class="form-curso">
        <form>
          <div class="inputs">
            <label>
              Nome:
              <input type="text" name="nome" id="titulo" placeholder="" [(ngModel)]="nome">
            </label>

            <label>
              Sobrenome:
              <input type="text" name="sobrenome" id="titulo" placeholder="" [(ngModel)]="sobrenome">
            </label>

            <label>
              Email:
              <input type="text" name="sobrenome" id="titulo" placeholder="" [(ngModel)]="email">
            </label>

            <label>
              Resumo:
              <input type="text" name="resumo" id="titulo" placeholder="" [(ngModel)]="resumo">
            </label>
  
            <label>
              Sobre:
              <textarea class="form-control" name="sobre" id="exampleFormControlTextarea1" rows="4" [(ngModel)]="sobre"></textarea>
            </label>
  
            <div class="custom-file">
              Foto:
              <input id="customFile" type="file" class="custom-file-input" id="customFile" (change)="arquivoSelecionado($event)">
              <label class="custom-file-label" for="customFile">foto</label>
            </div>
  
          </div>
          <div class="controles">
            <p class="link" [routerLink]="['/cursos']">Voltar</p>
            <button type="submit" class="btn" [disabled]="!arquivosSelecionados" (click)="uploadArquivo()" (click)="envioFormulario()" [routerLink]="['/curso-formulario']">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  
  </div>
  
  
