@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.add-text {
    font-family: 'Montserrat';
    font-size: 30px;
}