  <div class="container">

    <div id="div-pai" class="col-sm-3 my-1">
      <div class="input-group">
        <input class="form-control" type="search" aria-label="Search" #inputPesquisa id="input-pesquisa" (input)="pesquisar(inputPesquisa.value)" type="text" placeholder="Servico...">
        <div class="input-group-append">
          <div class="input-group-text"><mat-icon id="icon-pesq" class="material-icons-outlined">search</mat-icon></div>
        </div>
      </div>
    </div>

    <ul *ngFor="let servicoF of servicosFiltrados$ | async">
      <mat-card class="sub-container">
        <mat-card-title-group class="header">
          <mat-card-title id="titulo">{{servicoF.titulo}}</mat-card-title>
        </mat-card-title-group>
        <mat-card-content class="body">
          {{servicoF.descricao}}
        </mat-card-content>
        <mat-card-content class="botoes">
          <button type="submit" class="botao">R$ {{servicoF.valor}}</button>
        </mat-card-content>
      </mat-card>
    </ul>
    
    <ul *ngIf="pesquisando">
      <mat-card class="sub-container" *ngFor="let servico of servicos">
        <mat-card-title-group class="header">
          <mat-card-title id="titulo">{{servico.titulo}}</mat-card-title>
        </mat-card-title-group>
        <mat-card-content class="body">
          {{servico.descricao}}
        </mat-card-content>
        <mat-card-content class="botoes">
          <button type="submit" class="botao">R$ {{servico.valor}}</button>
        </mat-card-content>
      </mat-card>
    </ul>
  </div>