  <div class="container">
    <div id="create-button" class="sub-container">
      <button [routerLink]="['/formulario-servico']" type="button" class="botao">Adicionar serviço</button>
    </div>
  
    <mat-card class="sub-container" *ngFor="let servico of servicos">
      <mat-card-title-group class="header">
        <mat-card-title id="titulo">{{servico.titulo}}</mat-card-title>
        <div class="icons">
            <mat-icon class="icon" (click)="deletarServico(servico.id)"> delete</mat-icon>
            <mat-icon class="icon" (click)="enviarIdServico(servico.id)" [routerLink]="['/formulario-servico-update']">edit</mat-icon>
        </div>
      </mat-card-title-group>
      <mat-card-content class="body">
        {{servico.descricao}}
      </mat-card-content>
      <mat-card-content class="botoes">
        <button type="submit" class="botao">R$ {{servico.valor}}</button>
      </mat-card-content>
    </mat-card>
  </div>