@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

.container{
    margin: 30px auto;
    margin-bottom: 100px;
    font-family: 'Montserrat', sans-serif;
}
.sub-container{
    margin: 30px 0;
    font-size: 18px;
    background-color: rgb(66, 66, 66);
}

.botoes{
    display: flex;
    justify-content: flex-end;
}

.botao{
    height: 40px;
    border-radius: 5px;
    background-color: #43B02A;
    border: 3px solid #43B02A;
    color: #fff;
    font-size: 15px;
    font-weight: 700; 
}

.botao:hover {
    border-radius: 5px;
    background-color: #2c8019;
    border: 3px solid #2c8019;
    color: #fff
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titulo{
    font-size: 40px;
}

.table {
    color: #fff;
}

.icon {
    margin: 10px;
}

.icon:hover {
    cursor: pointer;
    color: #43B02A;
}

.icons{
display: flex;
justify-content: flex-end;
flex-direction: column;

}

.input-group {
    margin: 25px;
    width: 300px;
}

#icon-pesq {
    cursor: pointer;
    background-color: white;
}

.input-group-text {
    background-color: white;
}
mat-card-title {
    margin: 30px;
    color: #000;
}

mat-card-title:hover {
    color: #33b117;
}

mat-card-content {
    margin: 30px;
    font-size: 30px;
    color: #000;
}

mat-card-content:hover {
    color: #33b117;
}

.mat-card {
    background-color: #fff;
    box-shadow: 4px 4px 8px rgb(5, 5, 5);
}