<div class="container">
  <form class="form" (submit)="envioFormulario()">
    <div class="form-group">
      <label class="label" for="exampleInputEmail1">Novo Titulo</label>
      <input type="text" name="novoTitulo" class="form-control" id="titulo" placeholder="Entre titulo" [(ngModel)]="novoTitulo">
      
      <label class="label" for="exampleInputEmail1">Nova Descricao</label>
      <input type="text" name="novaDescricao" class="form-control" id="descricao" placeholder="Entre seu descricao" [(ngModel)]="novaDescricao">
      
      <label class="label" for="exampleInputEmail1">Novo Valor</label>
      <input type="text" name="novoValor" class="form-control" id="email" placeholder="Entre valor" [(ngModel)]="novoValor">
    </div>
    
    <div class="control">
      <p class="voltar">Voltar</p>
      <button type="submit" class="botao">Enviar</button>
    </div>
  </form>
</div>
