<mat-toolbar class="tool-bar">
  <div class="container-menu">
      <img [routerLink]="['/']" class="img" src="assets\img\Consult-logo.png" alt="logo-deloitte">
      <h3 class="item" [routerLink]="['/servicos']">Serviços</h3>
      <h3 class="item" [routerLink]="['/clientes']">Clientes</h3>
  </div>

  <div class="container-options">
      <mat-icon [routerLink]="['/']" class="icon" (click)="logoutUsuario()">logout</mat-icon>
  </div>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
<mat-toolbar class="footer"></mat-toolbar>