@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/* tag main */
main {
    margin: 0 auto;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    max-width: 1000px;
}
nav {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .controller{
    display: flex;
    align-self: start;
}

nav .navbar-nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

nav .nav-link {
    color: #fff;
}

nav .icon{
    color: #fff;
    cursor: pointer;
}

nav .icon:hover{
    color: #999;
}



