@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/* tag main */
main {
    margin: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

/* tool bar */
.tool-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 5px 10px gray;
    height: 90px;
}

.container-menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.container-options{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 30px;
}

.item{
    cursor: pointer;
    color: #fff;
    font-size: 23px;
    font-weight: 400;
}

.item:hover{
    color: #43B02A
}

.img {
    width: 205px;
    height: 100px;
    cursor: pointer;
}

.icon{
    cursor: pointer;
    color: #fff;
}

.icon:hover {
    color: #43B02A;
}

/* footer */
.footer {
    background-color: #2B2B2B;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 5px 10px gray;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}