<section class="container">
    <div class="sub-container">
        <div class="">
            <p>Nome: {{cliente.nome}}</p>
            <p>Sobrenome: {{cliente.sobrenome}}</p>
            <p>Email: {{cliente.email}}</p>
        </div>
    
        <div class="servicos">
            <div class="controller">
                <button class = "button" (click) = "listarServicosCliente(cliente)">Servicos</button>
                <button class = "button" (click) = "enviarCliente(cliente.id)" [routerLink]="['/formulario-servico']">Adicionar Servico</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" *ngFor="let servico of servicosCliente">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{servico.titulo}}</h5>
                  <p class="card-text">{{servico.descricao}}</p>
                  <!-- <a href="#" class="btn btn-primary">{{servico.valor}}</a> -->
                </div>
                <div class="div-icons">
                  <mat-icon class="icon" (click)="deletarServico(servico.id)"> delete</mat-icon>
                <mat-icon class="icon" (click)="enviarIdServico(servico.id)" [routerLink]="['/formulario-servico-update']">edit</mat-icon>
                </div>
              </div>
            </div>
          </div>
    </div>
</section>