<section class="container">
    <div class="">
        <p>Nome: {{cliente.nome}}</p>
        <p>Sobrenome: {{cliente.sobrenome}}</p>
        <p>Email: {{cliente.email}}</p>
    </div>

    <div class="controll">
        <button (click) = "listarServicosCliente(cliente)">Servicos</button>
        <div class="servicos" *ngFor="let servico of servicosCliente">
            <p>Titulo:{{servico.titulo}}</p>
            <p>Descricao:{{servico.titulo}}</p>
            <p>Valor:{{servico.titulo}}</p>
        </div>
    </div>
</section>