<section class="container">
    <div class="sub-container">
        <div class="">
            <p>Nome: {{cliente.nome}}</p>
            <p>Sobrenome: {{cliente.sobrenome}}</p>
            <p>Email: {{cliente.email}}</p>
        </div>
    
        <div class="servicos">
            <div class="controller">
                <button class = "button" (click) = "listarServicosCliente(cliente)">Servicos</button>
                <button class = "button" (click) = "enviarCliente(cliente.id)" [routerLink]="['/formulario-servico']">Adicionar Servico</button>
            </div>
            <div class="lista-servicos" *ngFor="let servico of servicosCliente">
                <p>Titulo:{{servico.titulo}}</p>
                <p>Descricao:{{servico.titulo}}</p>
                <p>Valor:{{servico.titulo}}</p>
                <mat-icon class="icon" (click)="deletarServico(servico.id)"> delete</mat-icon>
              <mat-icon class="icon" (click)="enviarIdServico(servico.id)" [routerLink]="['/formulario-servico-update']">edit</mat-icon>
            </div>
        </div>
    </div>
</section>