<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
      </div>
  
      <!-- Login Form -->
      <form>
        <img src="https://udeyou.s3.sa-east-1.amazonaws.com/udeyou-logo.png" alt="">
        <div class="falta-pouco">
            Falta pouco... <br> Você só precisa verificar seu e-mail <br> clicando em algum dos abaixo
        </div>
        <div class="icons">
            <a (click)="goToLink('https://www.outlook.com/')">
                <span class="iconify" data-icon="vscode-icons:file-type-outlook"></span>
            </a>
            <i (click)="goToLink('https://www.yahoo.com/')">
                <span class="iconify" data-icon="logos:yahoo"></span>
            </i>
            <a (click)="goToLink('https://www.gmail.com/')">
                <span class="iconify" data-icon="logos:google-gmail"></span>
            </a>
        </div>
        <!-- <input (click)="goToLink('https://www.gmail.com/')" type="submit" class="fadeIn fourth" value="Verificar meu e-mail"> -->
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Esta página recebe suporte da Udeyou</a>
      </div>
  
    </div>
</div>
