@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

.container-manage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.manage-courses {
    margin-top: 100px;
    width: 700px;
    height: 150px;
    box-shadow: 0px 0px 2px #999;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.manage-text {
    font-family: 'Montserrat';
    font-size: 20px;
}

.btn {
    width: 201px;

    border: 1px solid black;

    color: black;
    font-weight: 500;
    margin-bottom: 10px;
}

#btn-pedido{
    border: #222;
    color: #fff;
    background-color: #8710D8;
}

#btn-pedido:hover{
    border: #111;
    background-color: #8710D8;
    font-weight: 600;
}

.side-side {
    margin-top: 100px;
    width: 1000px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.side-e, .side-d {
    width: 340px;
    height: 150px;
    box-shadow: 0px 0px 2px #999;

    display: flex;
    justify-content: center;
    align-items: center;
}

.side-e {
    margin-right: 10px;
}

.side-d {
    margin-left: 10px;
}

img {
    width: 100px;
    height: 100px;
}

.manage-text-mid {
    font-family: 'Montserrat';
    font-size: 15px;
    margin: 10px;
}

.manage-text-us {
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 30px;
}

.manage-courses-second {
    margin-top: 100px;
    width: 700px;
    height: 200px;
    box-shadow: 0px 0px 2px #999;
    padding: 20px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}