<section class="container">
    <div class="profile">
      <div class="links">
        <img src="{{urlImagem}}{{usuario.imagem}}" class="rounded-circle" alt="...">
        <button *ngIf="!isProfessor" id="btn-pedido" type="button" class="btn" [routerLink]="['/ensine-conosco']">Ensine conosco</button>
        <button *ngIf="isProfessor" (click)="entrarPlataforma()" id="btn-pedido" type="button" class="btn">Plataforma professor</button>
      </div>
      
      <ul class="list-group">
        <a  class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{usuario.nome}} {{usuario.sobrenome}}</h5>
            <p class="mb-1">{{usuario.email}}</p>
            <p class="mb-1">{{usuario.manchete}}</p>
            <p class="mb-1">{{usuario.biografia}}</p>
          </div>
  
          <div class="sobre">
            <p class="mb-1"></p>
          </div>
  
        </a>
      </ul>
    </div>
   
  </section>
  