<div class="container">
  <div class="sub-container">
    <h5>Adicionar curso</h5>
    <div class="form-curso">
      <form>
        <div class="inputs">
          <label>
            Titulo:
            <input type="text" name="titulo" id="titulo" placeholder="" [(ngModel)]="titulo">
          </label>

          <label>
            Resumo:
            <input type="text" name="resumo" id="resumo" placeholder="" [(ngModel)]="resumo">
          </label>

          <label>
            Descricao:
            <textarea class="form-control" name="requisitos" id="exampleFormControlTextarea1" [(ngModel)] = "descricao" rows="4"></textarea>
          </label>

          <label>
            Requisitos:
            <textarea class="form-control" name = "requisitos" id="exampleFormControlTextarea1" [(ngModel)] = "requisitos" rows="2"></textarea>
          </label>


          <div class="custom-file">
            Foto:
            <input id="customFile" type="file" class="custom-file-input" id="customFile" (change)="arquivoSelecionado($event)">
            <label class="custom-file-label" for="customFile">foto</label>
          </div>

          <label>
            Valor:
            <input type="number" name="valor" id="valor" placeholder="" [(ngModel)]="valor">
          </label>

        </div>
        <div class="controles">
          <p class="link" [routerLink]="['/home-plataforma/cursos']">Voltar</p>
          <button type="submit" class="btn" [disabled]="!arquivosSelecionados" (click)="uploadArquivo()" (click)="envioFormulario()">Salvar</button>
        </div>
      </form>
    </div>
  </div>

</div>
