@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

.tool-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    background-color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 5px 10px gray;
    height: 90px;
}

.item{
    cursor: pointer;
    color: #b4b4b4;
    font-size: 25px;
}

.item:hover{
    color: #43B02A
}

.img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

mat-icon{
    text-align: end;
    cursor: pointer;
}

.icon:hover {
    color: #43B02A;
}