.card{
    margin: 20px;
    color: black;
}

img{
    max-width: 250px;
}

.card-body{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
.icon{
    cursor: pointer;
}
.icon:hover{
    color: #A435F0;
}