<!-- <table class="table table-striped">
    <thead>
    <tr class="header">
      <th class="row-table" scope="col">Nome</th>
      <th class="row-table" scope="col">Sobrenome</th>
      <th class="row-table" scope="col">Email</th>
      <th class="row-table" id="th-cadastrar" scope="col">
  
        <div class="tools">
          <input #inputPesquisa id="input-pesquisa" (input)="pesquisar(inputPesquisa.value)" type="text" placeholder="Professor...">
          <mat-icon [routerLink]="['/formulario-cliente']" class="icon-cadastrar" >add</mat-icon>
        </div>
      </th>
    </tr>
    </thead>
    <tbody  *ngIf="pesquisando">
    <tr  *ngFor="let professor of getProfessores">
      <td id="nome" class="row-table">{{professor.nome}}</td>
      <td class="row-table">{{professor.sobrenome}}</td>
      <td class="row-table">{{professor.email}} </td>
      <td class="icons" id="icons-table"> -->
        <!-- <mat-icon (click)="enviarIdProfessor(professor.id)" [routerLink]="['/professor-update-formulario']" class="icon">edit</mat-icon>
          <mat-icon (click)="deletarProfessor(cliente.id)" class="icon">delete</mat-icon> -->
          <!-- <mat-icon (click)="getProfessorById(professor.id)" [routerLink]="['/professor-details']" class="icon">person_search</mat-icon>
      </td>
    </tr>
    </tbody>
    <tbody>
      <tr  *ngFor="let professorF of professoresFiltrados$ | async">
        <td id="nome" class="row-table">{{professorF.nome}}</td>
        <td class="row-table">{{professorF.sobrenome}}</td>
        <td class="row-table">{{professorF.email}} </td>
        <td class="icons" id="icons-table"> -->
          <!-- <mat-icon (click)="deletarProfessor(professorF.id)" class="icon">delete</mat-icon> -->
          <!-- <mat-icon (click)="enviarIdProfessor(professorF.id)" [routerLink]="['/formulario-cliente-update']" class="icon">edit</mat-icon>
        </td>
      </tr>
      </tbody>
  </table> -->
  
<div class="container">
  <div class="input-group">
    <input class="form-control" type="search" aria-label="Search" #inputPesquisa id="input-pesquisa" (input)="pesquisar(inputPesquisa.value)" type="text" placeholder="Curso...">
      <div class="input-group-append">
      <div class="input-group-text"><mat-icon id="icon-pesq" class="material-icons-outlined">search</mat-icon></div>
    </div>
  </div>

  <div class="card w-75" *ngFor="let professor of getProfessores">
    <div class="row no-gutters" >
      <div class="col-md-4">
        <img src="\assets\img\javaImg.jpg" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="infos">
            <h5 class="card-title">{{professor.nome}} {{professor.sobrenome}}</h5>
            <p class="card-text">{{professor.email}}</p>
          </div>
        <div class="tools">
          <mat-icon (click)="getProfessorById(professor.id)" [routerLink]="['/professor-details']" class="icon">person_search</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>