<article>
    <img class="img" src="assets\img\udeyou-logo.png" alt="logo-udeyou">
    <form>
        <label>
            Usuario:
            <input type="text" name="novoUsuario" id="usuario" placeholder="" [(ngModel)]="novoNomeUsuario">
        </label>
        <label>
            Sobrenome:
            <input type="text" name="novoUsuario" id="usuario" placeholder="" [(ngModel)]="sobrenome">
        </label>
        <label>
            Email:
            <input type="text" name="novoUsuario" id="usuario" placeholder="" [(ngModel)]="email">
        </label>
        <label>
            Manchete:
            <input type="text" name="novoUsuario" id="usuario" placeholder="" [(ngModel)]="manchete">
        </label>
        <label>
            Biografia:
            <textarea class="form-control" name="requisitos" id="exampleFormControlTextarea1" [(ngModel)]="biografia" rows="4"></textarea>
        </label>
        <label>
            Senha:
            <input type="password" name="senha" id="senha" placeholder="" [(ngModel)]="senha">
        </label>
        <label>
            Confirme sua senha:
            <input type="password" name="senha-confirmada" id="senhaC" placeholder="" [(ngModel)]="senhaConfirmada">
        </label>
        <div *ngIf="senhaInvalida" class="alert alert-danger" role="alert">
            Confirmação de senha inválida
            <span (click)="esconderErro()">x</span>
        </div>
        <div class="custom-file">
            Foto:
            <input id = "customFile" type="file" class="custom-file-input" id="customFile" (change)="arquivoSelecionado($event)" >
            <label class="custom-file-label" for="customFile"></label>
        </div>
        <div class="controles">      
            <p class="link" [routerLink]="['/login']">Voltar</p>
            <button type="submit" class="btn" [disabled]="!arquivosSelecionados" (click)="uploadArquivo()" (click)="validarCampos(senha, senhaConfirmada)">Cadastrar</button>
        </div>
    </form>
</article>
