
<div *ngFor="let m of modulos" class="container">

    <h3>{{m.titulo}}</h3>

    <div class="sub-container">
        <div class="cont-curso" class="video-container">
            <youtube-player 
                videoId="{{m.videoId}}" 
                suggestedQuality="highres" 
                [height]="400" 
                [width]="800" 
                [startSeconds]="4"
                [endSeconds]="8">
            </youtube-player>
        </div>
        <div class="info-container">
            <div id="titulo" class="cont-curso">{{m.titulo}}</div>
            <div id="conteudo" class="cont-curso">{{m.conteudoPrincipal}}</div>
            <img class="cont-curso" src="{{urlImagem}}{{m.imagem}}" alt="">
        </div>
    </div>    
</div>
<!-- 9SGDpanrc8U -->