<div class="aproveite">
    <div class="seu-curso">
        Continue estudando
    </div>
</div>

<div *ngFor="let m of modulo" class="conteudo-principal">
    
    <div class="cont-curso">{{m.titulo}}</div>
    <div class="cont-curso">{{m.conteudoPrincipal}}</div>
    <img class="cont-curso" src="{{urlImagem}}{{m.imagem}}" alt="">
    
    <div class="cont-curso" class="video-curso">
        <youtube-player 
            videoId="{{m.videoId}}" 
            suggestedQuality="highres" 
            [height]="250" 
            [width]="500" 
            [startSeconds]="4"
            [endSeconds]="8">
        </youtube-player>
    </div>
</div>
<!-- 9SGDpanrc8U -->