<div class="add">
    <div class="add-text">
        Você está estudando o curso <b>{{curso.titulo}}</b>
    </div>
</div>

<div class="tabs">    
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">

        <li [ngbNavItem]="i" *ngFor="let mo of modulos; let i = index; trackBy: track;">
            <a ngbNavLink>Módulo {{i + 1}}</a>
            <ng-template ngbNavContent>

    <div class="sub-container">
        <div class="info-container">
            <h1 id="titulo" class="cont-curso">{{mo.titulo}}</h1>
            <img class="cont-curso" src="{{urlImagem}}{{mo.imagem}}" alt="">
            <div id="conteudo" class="cont-curso">{{mo.conteudoPrincipal}}</div>
        </div>
        <div class="cont-curso" class="video-container">
            <youtube-player 
                videoId="{{mo.videoId}}" 
                suggestedQuality="highres" 
                [height]="400" 
                [width]="800" 
                [startSeconds]="4"
                [endSeconds]="8">
            </youtube-player>
        </div>
    </div>  
            </ng-template>
        </li>

    </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>