<table class="table table-striped">
    <thead>
    <tr class="header">
      <th class="row-table" scope="col">Nome</th>
      <th class="row-table" scope="col">Sobrenome</th>
      <th class="row-table" scope="col">Email</th>
      <th class="row-table" class="icons" scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cliente of getClientes">
      <td id="nome" class="row-table" (click)="consultarCliente(cliente)">{{cliente.nome}}</td>
      <td class="row-table">{{cliente.sobrenome}}</td>
      <td class="row-table">{{cliente.email}} </td>
      <div class="icons" id="icons-table">
        <mat-icon (click)="deletarCliente(cliente)" class="icon">delete</mat-icon>
        <mat-icon [routerLink]="['/update']" class="icon">edit</mat-icon>
      </div>
    </tr>
    </tbody>
  </table>