<table class="table table-striped">
    <thead>
    <tr class="header">
      <th class="row-table" scope="col">Nome</th>
      <th class="row-table" scope="col">Sobrenome</th>
      <th class="row-table" scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cliente of getClientes">
      <td class="row-table" [routerLink]="['/update']" (click)="consultarCliente(cliente)">{{cliente.nome}}</td>
      <td class="row-table">{{cliente.sobrenome}}</td>
      <td class="row-table">{{cliente.email}}</td>
    </tr>
    </tbody>
  </table>